<h2 class="bg-dark text-white" style="padding-left: 10px">Status</h2>
<table class="table" style="width: 100%">
    <tr>
        <th>HP:</th>
        <td><input class="form-control" value="{{stat.HP}}" placeholder="HP" readonly/></td>
    </tr>
    <tr>
        <th>MP:</th>
        <td><input class="form-control" value="{{stat.MP}}" placeholder="MP" readonly/></td>
    </tr>
    <tr>
        <th>Strength:</th>
        <td><input class="form-control" value="{{stat.Strength}}" placeholder="Strength" readonly/></td>
    </tr>
    <tr>
        <th>Magic:</th>
        <td><input class="form-control" value="{{stat.Magic}}" placeholder="Magic" readonly/></td>
    </tr>
    <tr>
        <th>Vital:</th>
        <td><input class="form-control" value="{{stat.Vital}}" placeholder="Vital" readonly/></td>
    </tr>
    <tr>
        <th>Mental:</th>
        <td><input class="form-control" value="{{stat.Mental}}" placeholder="Mental" readonly/></td>
    </tr>
    <tr>
        <th>Accuracy:</th>
        <td><input class="form-control" value="{{stat.Accuracy}}" placeholder="Accuracy" readonly/></td>
    </tr>
    <tr>
        <th>Evade:</th>
        <td><input class="form-control" value="{{stat.Evade}}" placeholder="Evade" readonly/></td>
    </tr>
    <tr>
        <th>Luck:</th>
        <td><input class="form-control" value="{{stat.Luck}}" placeholder="Luck" readonly/></td>
    </tr>
</table>

